<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
</head>
<body>

<h1>
    <a href="{% url 'shop:list' %}" 
       style="padding: 5px 10px; 
       background-color: #30D5C8; 
       color: black; 
       text-decoration: none;
       border-radius: 5px;
       margin-right: 5px;">
       Home
    </a>

    <a href="{% url 'shop:book_create' %}" 
       style="padding: 5px 10px; 
       color: black; 
       text-decoration: none; 
       border-radius: 5px;">
       + Add Book
    </a>
</h1>

{% block content %}{% endblock %}

</body>
</html>