<h1>Мої замовлення</h1>

{% if orders %}
    {% for order in orders %}
        <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
            <h3>Замовлення #{{ order.id }}</h3>
            <p>Дата: {{ order.created_at }}</p>
            <p>Статус: {% if order.paid %}Оплачено{% else %}Не оплачено{% endif %}</p>

            <h4>Товари:</h4>
            <ul>
                {% for item in order.items.all %}
                    <li>
                        {{ item.book.title }} —
                        {{ item.quantity }} шт × {{ item.price }}$
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% else %}
    <p>У вас ще немає замовлень.</p>
{% endif %}